<!DOCTYPE html>
<html>

<head>
	<title>Grid Page</title>
	<link rel="stylesheet" type="text/css" href="/dynamic_grid/main.css">
</head>

<body>
	<%- include("../nav") %>

		<div class="gridPageContainer">
			<form action="/dynamic-grid" method="get">
				<input type="text" name="query" placeholder="Query" id="queryInput">
				<input type="submit" value="go">
			</form>
			<%if( error!="" ){%>
				<h2>
					<%= error %>
				</h2>
				<%} %>
					<table>
						<tr>
							<td colspan="6">Available Tables</td>
						</tr>
						<tr>
							<td>studentMaster</td>
							<td>attendanceMaster</td>
							<td>basicDetailsMaster</td>
							<td>eduDetailsMaster</td>
							<td>examMaster</td>
							<td>resultMaster</td>
						</tr>
					</table>
					<%- include('paginationController',{currentPage :
						currentPage,totalPages:totalPages,query:query,orderBy,ascQuery}) -%>
						<table>
							<thead>
								<tr>
									<% metaData.forEach((obj)=>{ %>
										<td>
											<%=obj.name%>
										</td>
										<% }) %>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0;i < data.length;i++){ %>
									<tr>
										<% for(var key in data[i]){ %>
											<td>
												<%=data[i][key] %>
											</td>
											<% } %>
									</tr>
									<% } %>
							</tbody>

						</table>
		</div>
		<script>
			window.onload = function () {
				var queryInputTag = document.getElementById("queryInput");
				var urlParams = new URLSearchParams(window.location.search);

				queryInputTag.value = urlParams.get("query");
			}
		</script>
</body>

</html>